@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Poppins:400');

// font family
$font-family: 'Poppins', sans-serif;

$color-aquamarine-default: #6fffe9;
$color-fountain-blue-default: #5bc0be;
$color-fountain-blue-900: #296a69;
$color-fiord-default: #3a506b;
$color-bunting-default: #1c2541;
$color-mirage-default: #0b132b;

$color-white: #EEEEEE;

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

html {font-size: 100%;} /*16px*/
