.footer {
    background-color: $color-mirage-default;
    display: flex;
    justify-content: space-between;
    padding: 50px;

    &__link {
        color: $color-white;
        display: block;
        font-family: $font-family;
        padding: 10px;
        text-decoration: none;

        &--hovered:hover {
            color: $color-fountain-blue-default;
        }
    }
    
    &__social-media-links {
        width: 120px;
    }

    &__title {
        color: $color-white;
        font-family: $font-family;
        padding: 0 0 10px;
    }

    &__social-media-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        color: $color-white;
        display: block;
        height: 30px;
        width: 30px;
    }

    &__social-media-link {
        display: block;
        text-decoration: none;

        &--hovered:hover{
            color: $color-fountain-blue-900;
        }
    }
}
