.media-list {
    height: 100vh;

    &__content {
        background-color: $color-bunting-default;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__slider {
        margin: 0 40px;
    }
    
    &__link {
        display: block;
        padding: 20px 30px;
        text-decoration: none;
    }
}
