@import 'base';
@import 'navbar';
@import 'media-card';
@import 'media-detail';
@import 'media-list';
@import 'home-layout';
@import 'page-not-found';
@import 'footer';


.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

// .navbar {
//     background-color: $color-mirage-default;
//     display: flex;
//     gap: 10px;
//     justify-content: space-between;
//     padding: 20px;
//     width: 100%;
    
//     .navbar-links {
//         align-self: center;
//         display: flex;
//         gap: 30px;

//         .navbar__link {
//             display: block;
//             color: $color-white;
//             font-family: $font-family;
//             font-size: 16px;
//             text-decoration: none;
//         }

//         .navbar__link:hover {
//             color: $color-fountain-blue-900;
//         }

//     }

//     .navbar-form {
//         &__input {
//             border: 1px solid $color-white;
//             border-top-left-radius: 6px;
//             border-bottom-left-radius: 6px;
//             font-family: $font-family;
//             font-size: 16px;
//             padding: 9px;
//             width: 300px;
//         }

//         &__input:focus {
//             outline: 2px solid $color-fountain-blue-900; 
//         }

//         &__btn {
//             background-color: $color-fountain-blue-900;
//             border: none;
//             border-top-right-radius: 6px;
//             border-bottom-right-radius: 6px;
//             color: $color-white;
//             font-family: $font-family;
//             font-size: 16px;
//             padding: 10px;
//             width: 100px;
//         }

//         &__btn:hover {
//             background-color: #FFF;
//             border: 2px solid $color-fountain-blue-900;
//             color: $color-fountain-blue-900;
//         }
//     }
// }

// .navbar-overlay {
//     background-color: black;
//     opacity: 0.7;
//     position: absolute;
//     z-index: 1000;
// }

// .home-layout {
//     position: relative;
//     background-color: $color-bunting-default;

//     &__carousel-item {
//         height: 100vh;
//     }

//     &__carousel-caption {
//         background-color: black;
//         opacity: 0.7;
//     }

//     .home-layout-overlay-text {
//         padding: 50px;
//     }

//     &__title {
//         font-family: $font-family;
//         font-size: 1rem;
//         padding: 0 0 20px;
//     }

//     &__sub-title {
//         font-family: $font-family;
//         font-size: 0.64rem;
//     }

//     &__text {
//         font-family: $font-family;
//         font-size: 0.8rem;
//     }

//     &__header {
//         color: $color-white;
//         font-family: $font-family;
//         padding: 20px 30px;
//     }

//     &__link {
//         display: block;
//         text-decoration: none;
//         padding: 20px 30px;
//     }

//     .series-slider, .popular-slider, .upcoming-slider {
//         margin: 0 40px;
//     }
// }

// .movie-card {
    
//     &__img {
//         border: 1px solid none;
//         border-radius: 6px;
//         height: 170px;
//         max-width: 130px;
//         width: 100%;
//     }

//     &__header {
//         color: $color-white;
//         font-family: $font-family;
//         font-size: 0.64rem;
//         font-weight: 900;
//         text-align: center;
//         width: 120px;
//         padding: 10px 0 5px;
//     }

//     &__text {
//         color: $color-white;
//         font-family: $font-family;
//         font-size: 0.512rem;
//         text-align: center;
//         width: 120px;
//     }
// }

// .list-block {
//     height: 100vh;

//     &__row {
//         background-color: $color-bunting-default;
//         display: flex;
//         flex-wrap: wrap;
//     }
// }

// .movie-detail {
//     background-color: $color-bunting-default;

//     .movie-details-row {
//         display: flex;
//         justify-content: center;
//         gap: 20px;
//         padding: 20px;

//         &__img {
//             height: 250px;
//             width: 220px;
//         }
//     }
    
//     .movie-details {
//         &__text {
//             color: $color-white;
//             font-family: $font-family;
//         }
//     }

//     .movie-detail {
//         &__h3 {
//             color: $color-white;
//             font-family: $font-family;

//             &--center {
//                 text-align: center;
//             }

//             &--shift {
//                 padding: 20px 30px;
//             }
//         }

//         &__text {
//             color: $color-white;
//             font-family: $font-family;
//             padding: 0 0 30px;
//             text-align: center;

//         }

//         &__link {
//             display: block;
//             font-family: $font-family;
//             padding: 20px 30px;
//             text-decoration: none;
//         }
//     }
    
//     .similar-slider {
//         margin: 0 40px;
//     }
// }

// .page-not-found {
//     align-items: center;
//     background-color: $color-fountain-blue-900;
//     display: flex;
//     flex-direction: column;
//     height: 100vh;
//     justify-content: center;

//     &__text {
//         color: $color-white;
//         font-family: $font-family;
//         padding: 20px;
//         text-align: center;

//         &--huge {
//             font-size: 200px;
//         }

//         &--small {
//             padding: 0;
//         }
//     }

//     &__link {
//         border: 1px solid $color-white;
//         border-radius: 10px;
//         color: $color-white;
//         display: block;
//         font-family: $font-family;
//         margin: 0 auto;
//         max-width: 100px;
//         padding: 10px;
//         text-align: center;
//         text-decoration: none;
//         width: 100%;
//     }

//     &__link:hover {
//         background-color: $color-white;
//         color: $color-fountain-blue-900;
//     }
// }

// .footer {
//     background-color: $color-mirage-default;
//     display: flex;
//     justify-content: space-between;
//     padding: 50px;

//     .footer-item {
//         display: flex;
//         flex-direction: column;
//         gap: 20px;

//         &__link {
//             color: $color-white;
//             display: block;
//             font-family: $font-family;
//             padding: 10px;
//             text-decoration: none;
//         }

//         &__link:hover {
//             color: $color-fountain-blue-default;
//         }
//     }
    
//     .footer-media {
//         width: 120px;

//         &__text {
//             color: $color-white;
//             font-family: $font-family;
//             padding: 0 0 10px;
//         }

//         .footer-media-links {
//             display: flex;
//             justify-content: space-between;
            
//             .footer-media-link {
//                 display: block;
//                 text-decoration: none;

//                 &__icon {
//                     color: $color-white;
//                     display: block;
//                     height: 30px;
//                     width: 30px;
//                 }
//             }

//             .footer-media-link:hover {
//                 &__icon {
//                     color: $color-fountain-blue-900;
//                 } 
//             }
//         }
//     }
// }
